################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StackOverfloweth/v16
/StackOverfloweth/node_modules
/StackOverfloweth/node_modules
/StackOverfloweth/obj/Debug
/StackOverfloweth/package-lock.json
/StackOverfloweth/bin
/WebApi/bin/Debug/netcoreapp2.1
/WebApi/obj
/.vs/StackOverfloweth
/Api/bin
/Api/obj/Debug
/Api.Contract/obj
/Api.Core/obj
/Data/bin/Debug/netstandard2.0
/Data/obj
/packages
/StackOverfloweth/build
/Api.Contract/bin/Debug/netstandard2.0
/Api.Core/bin/Debug/netstandard2.0
